<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" routerLink="/login">CERRAR SESION</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <form [formGroup]="alumno" (ngSubmit)="registrar()">
        <ion-item>
          <ion-label position="stacked">Correo Electronico</ion-label>
          <ion-input type="text" placeholder="Ingrese correo" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Rut</ion-label>
          <ion-input type="text" placeholder="Ingrese rut" formControlName="rut"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre Completo</ion-label>
          <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom_completo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha Nacimiento</ion-label>
          <ion-input type="date" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Semestre</ion-label>
          <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Repita Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password"
            [ngModelOptions]="{standalone: 'true'}"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!alumno.valid">REGISTRAR</ion-button>
        <ion-button (click)="modificar()">MODIFICAR</ion-button>
        <ion-button (click)="limpiar()">LIMPIAR</ion-button>
      </form>
    </ion-card-header>
  </ion-card>
  <h1 class="centrar">Lista de Usuarios</h1>
  <ion-list *ngFor="let usuario of usuarios">    
    <ion-card>
      <ion-card-header>
        <p>Nombre: {{usuario.nom_completo}}</p>
        <p>Rut: {{usuario.rut}}</p>
        <p>Correo: {{usuario.email}}</p>
        <p>Fecha de nacimiento: {{usuario.fecha_nac}}</p>
        <p>Semestre: {{usuario.semestre}}</p>
        <p>Tipo usuario: {{usuario.tipo_usuario}}</p>
        <ion-button color="warning" (click)="buscar(usuario.rut)">Buscar</ion-button>
        <ion-button color="danger" (click)="eliminar(usuario.rut)">Eliminar</ion-button>
      </ion-card-header>
    </ion-card>
  </ion-list>


  
</ion-content>